<td class="<%= side[:css] %> pick"><%= (side[:pick_count] > 0) ? side[:pick_count] : " " %></td>
<td><%= fullname(side[:team]) %></td>
<td><%= side[:score] %></td>
<td class="time"><%= side[:alt] %></td>
